.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# who still uses firebase?
/.firebase
.firebaserc
firebase.json

.npmrc
.prettierignore
.prettierrc
.eslintignore
.eslintrc.cjs

# package managers
package-lock.json
bun.lockb
.vercel
/changelog.txt
pnpm-lock.yaml
/set_secrets.sh
bun.lockb
static/apple-touch-icon.png
static/favicon.ico
static/icon-1024.png
static/icon-120.png
static/icon-128.png
static/icon-150.png
static/icon-152.png
static/icon-16.png
static/icon-167.png
static/icon-168.png
static/icon-180.png
static/icon-192.png
static/icon-2048.png
static/icon-24.png
static/icon-256.png
static/icon-32.png
static/icon-384.png
static/icon-512.png
static/icon-64.png
static/icon-96.png
server/private/cloudflare.ini
server/nats-conf/*
