server_name: "[SERVER_NAME]"
http_port: 5224
cluster: {
  port: 5222,
  routes: [
    "nats://[SERVER_NAME].azabab.com:5222",
    "nats://[SERVER_PEER_1].azabab.com:5222",
    "nats://[SERVER_PEER_2].azabab.com:5222",
  ],
}
gateway: {
  name: "ash",
  port: 5223,
  gateways: [
    {name: "[GATEWAY_SERVER_1]", url: "nats://[GATEWAY_SERVER_1].azabab.com:5223"},
    {name: "[GATEWAY_SERVER_2]", url: "nats://[GATEWAY_SERVER_2].azabab.com:5223"},
    {name: "[GATEWAY_SERVER_3]", url: "nats://[GATEWAY_SERVER_3].azabab.com:5223"},
    {name: "[GATEWAY_SERVER_4]", url: "nats://[GATEWAY_SERVER_4].azabab.com:5223"},
    {name: "[GATEWAY_SERVER_5]", url: "nats://[GATEWAY_SERVER_5].azabab.com:5223"},
  ]
}
listen: sample.azabab.com:4222
jetstream {
  store_dir: "/home/ubuntu/jetstream"
}
tls {
  cert_file: "/etc/letsencrypt/live/azabab.com/fullchain.pem"
  key_file: "/etc/letsencrypt/live/azabab.com/privkey.pem"
  timeout: 2
}
accounts: {
  $SYS {
    users = [
      {user: "[SYSTEM_USER]", password: "[SYSTEM_PASSWORD]"}
    ]
  },
  TEAM_A {
    jetstream: enabled,
    users = [
      {user: "[JETSTREAM_USER]", password: "[JETSTREAM_PASSWORD]"}
    ]
  }
}
