[Unit]
Description=Docker SSH Server
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm -p 2222:22 -v /home/ubuntu/data:/data --name ssh-server ssh-server
ExecStop=/usr/bin/docker stop -t 0 ssh-server

[Install]
WantedBy=multi-user.target